P1/S04/tienda.dtd

    <!-- Documento de definicion de mi tienda -->

    <!-- Elemento raiz -->
    <!-- La tienda esta compuesta de productos:
         Ninguno, uno o muchos -->
    <!ELEMENT tienda (producto*)>

    <!-- El elemento descripción es opcional -->
    <!ELEMENT producto (nombre, descripcion?, stock)>

    <!-- Elementos simples -->
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT descripcion (#PCDATA)>
    <!ELEMENT stock (#PCDATA)>